@import url("reset.css");

body {
    background-color: #212121;
}
header {
    background-color: #fbc02d;
    height: 50px;
    position: sticky;
}

/* Trigger Button */
input[id=trigger] {
    display: none;
}
label[for=trigger] {
    width: 40px;
    height: 30px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 9px;
    right: 20px;
    transition: 0.3s;
}
label[for=trigger] span {
    position: absolute;
    height: 2px;
    background-color: #000;
    width: 100%;
    left: 0;
    transition: 0.3s;
}
label[for=trigger] span:nth-child(1) {
    top: 0;
}
label[for=trigger] span:nth-child(2) {
    top: 50%;
}
label[for=trigger] span:nth-child(3) {
    top: 100%;
}

input[id=trigger]:checked +label[for=trigger] span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}
input[id=trigger]:checked +label[for=trigger] span:nth-child(2) {
    opacity: 0;
}
input[id=trigger]:checked +label[for=trigger] span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

input[id=trigger]:checked ~ .sidebar {
    right: 0;
}

input[id=trigger]:checked + label[for=trigger] {
    right: 310px;
}

/* Sidebar */

.sidebar {
    background-color: #484848;
    width: 300px;
    margin-top: 13px;
    height: 100vh;
    position: fixed;
    right: -300px;
    transition: 0.3s;
}
.inner {
    padding: 1em 0;
    padding-inline-start: 40px;
    height: 100vh;
}
.inner p {
    position: relative;
    bottom: -50px;
    display: inline-block;

}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.menu {
    list-style: none;
}
.menu li {
    margin: 40px 0px;
}

.menu li:before {
    content: "\f699";
    font-family: "Font Awesome 6 Free";
    font-size: 2em;
    color: #fbc02d;

}
.menu li a {
    font-size: 2em;
    line-height: 1.5;
    border: 0;
    text-decoration: none;
    color: white;
    position: relative;
}

.menu li a:before {
    content: '';
    position: absolute;
    background-color: #fbc02d;
    height: 2px;
    width: 5px;
    bottom: 0px;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
}
.menu li a:hover:before {
    width: 100%;
}



.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.item {
    width: 300px;
    margin-top: 13px;
    position: relative;

}
.item input[type=text] {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
    width: inherit;
    box-sizing: border-box;
    padding: 10px 10px 10px 40px;
    outline: none;
    transition: 0.3s;
}
.item .fa-solid {
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}
.item input:focus {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}
.item input:focus + .fa-solid {
    color: dodgerblue;
}
.item input:focus::placeholder {
    visibility: hidden;
}
.form {
    display: contents;
}

