@import "reset.css";


/* Common CSS*/
.inner {
    width: 1300px;
    margin: auto;
}

/* Intro */
.main {
    display: flex;
}

.intro {
    height: 100vh;
    display: flex;
}

/* BG Video */

.video {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}

.video video{
    min-width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.video img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(48%);
    left: calc(55%);
}

.video p {
    position: absolute;
    top: calc(66%);
    left: calc(47%);
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 25px;
}

.diary-wrap {
    background-color: #121212;
}

/* Header */
header {
    background-color: #fbc02d;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-self: center;
    z-index: 2;
}

nav {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* Search */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}

.search a {
    margin-left: 70px;
    font-family: 'Single Day', cursive;
    color: #121212;
    font-size: 25px;
}

.search a:hover {
    color: #0056b3;
    transition: 0.8s;
}

.item {
    width: 300px;
    position: relative;
    display: flex;
}

.item input[type=text] {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
    width: inherit;
    box-sizing: border-box;
    padding: 10px 10px 10px 40px;
    outline: none;
    transition: 0.3s;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 22px;
}

.item .fa-solid {
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}

.item input:focus {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

.item input:focus + .fa-solid {
    color: dodgerblue;
}

.item input:focus::placeholder {
    visibility: hidden;
}

input[id=trigger] {
    display: none;
}

label[for=trigger] {
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label[for=trigger] span {
    height: 2px;
    background-color: #000;
    width: 100%;
    transition: 0.5s;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(1) {
    margin-top: 13px;
    transform: rotate(45deg);
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(2) {
    opacity: 0;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(3) {
    margin-bottom: 13px;
    transform: rotate(-45deg);
}

input[id=trigger]:checked ~ .menu {
    right: 0;
}

input[id=trigger]:checked + label[for=trigger] {
    margin-right: 310px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #484848;
    position: fixed;
    top: 0;
    right: -1000px;
    height: 100vh;
    width: 30vw;
    padding-top: 80px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
    transition: 0.8s;
}

.menu li {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-family: 'Black And White Picture', sans-serif;
}

.menu li:before {
    content: "\f699";
    font-family: "Font Awesome 6 Free";
    font-size: 2em;
    color: #fbc02d;

}

.menu li a {
    margin: 0;
    padding: 10px;
    font-size: 2em;
    color: white;
    position: relative;
}

.menu li a:before {
    content: '';
    position: absolute;
    background-color: #fbc02d;
    height: 2px;
    width: 5px;
    bottom: 0px;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
}

.menu li a:hover:before {
    width: 100%;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.visitor {
    margin-bottom: 20px;
    margin-left: 15px;
    color: white;
    display: flex;
    font-family: 'Single Day', cursive;
}

.visitor i{
    color: #fbc02d;
    margin-right: 10px;
}

/* diary-wrap */

.diary-wrap {
    display: flex;
    align-items: center;
}

.diary-best {

}

.diary {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.diary-link {
}


.diary article {
    width: 350px;
    height: 370px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

.diary article:hover {
    border: none;
}

.diary article span {
    border: none;
}

.diary article:hover span {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 1px solid #fbc02d;
    border-radius: 40% 60% 65% 45% / 40% 45% 55% 35%;
    transition: 0.5s;
}

.diary article span:nth-child(1) {
    animation: circle 6s linear infinite;
}

.diary article span:nth-child(2) {
    animation: circle 4s linear infinite;
    animation-direction: reverse;
}

.diary article span:nth-child(3) {
    animation: circle 10s linear infinite;
}

.diary article:hover span:nth-child(1) {
    opacity: 0.3;
}

.diary article:hover span:nth-child(2) {
    opacity: 0.6;
}

.diary article:hover span:nth-child(3) {
    opacity: 0.8;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    display: flex;
    box-sizing: border-box;
    width: 390px;
    height: 400px;
    margin: 20px 20px;
    padding: 50px 50px;
    flex-direction: column;
    color: #dcdcdc;
}

.user-info {
    display: flex;
    flex: 1;
}

.user-info p {
    align-self: center;
    margin-left: 10px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 30px;

}

.user-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.subject {
    flex: 2;
    padding-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height:1.3;
}

.content-info {
    flex: 1;
    justify-self: end;
}

.content-info p {
    display: inline;
    margin-left: 15px;
    font-family: 'Noto Sans KR', sans-serif;

}

.content-info i {
    padding: 5px;
}

footer {
    height: 60px;
    background-color: #484848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #dcdcdc;
    font-family: 'Tapestry', cursive;
    margin: 5px 5px;
}

.modal {
    display: none;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
    position: fixed;
    height: 100vh;
    width: 60vw;
    background-color: #efe9e9;
    left: calc(20%);
    transition: 0.4s;
}

.modal article {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    transition: 0.6s;
}

/* ckeditor size & style*/
.ck.ck-editor {
}
.ck-editor__editable {
    max-height: 600px;
    min-height: 600px;
}

/* modal*/
.name-pass {
    display: flex;
    align-items: center;
    position: relative;
}


.modal input[type=text], input[type=password] {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
    font-family: 'Gaegu', cursive;
    font-size: 1.2em;
    margin-right: 20px;
}

#x-mark {
    position: absolute;
    right: 0;
    font-size: 1.6em;
    color: #121212;
    border: none;
    background-color: initial;
}

#x-mark :hover {
    transition: 0.3s;
    color: dodgerblue;
}



#subject {
    width: 100%;
}

.item .fa-solid {
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}

.modal input:focus {
    border: 1px solid #198cf0;
    box-shadow: 0 0 2px #198cf0;
}

.modal input input:focus + .fa-solid {
    color: dodgerblue;
}

.item input:focus::placeholder {
    visibility: hidden;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.buttons button{
    padding: 10px;
    margin: 10px;
    border-radius: 20%;
    border: 2px solid #fbc02d;
    background: inherit;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.buttons button:hover{
    color: white;
    background: linear-gradient(-45deg, #333131 50%, crimson);
    transition: 0.5s;
}