<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/solid.min.css">
</head>
<body>

<div class="container">
    <header>
        <nav>
            <div class="logo">
                <a href="#none"><img src="../static/images/logo.png"></a>
            </div>
            <form class="search">
                <div class="item">
                    <input type="text" placeholder="검색어">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </form>
            <div class="menu-bar">
                <input type="checkbox" id="trigger">
                <label for="trigger">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </label>
                <div class="menu">
                    <ul>
                        <li><a href="index2.html">홈</a></li>
                        <li><a href="index2.html">글쓰기</a></li>
                        <li><a href="index2.html">About This Site</a></li>
                    </ul>
                    <div class="info">
                        <p><i class="fa-solid fa-user fa-fw"></i> 오늘 방문자 0 명</p>
                        <p><i class="fa-solid fa-users fa-fw"></i></i> 총 방문자 0 명</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="intro">
            <video src="../static/images/moon.mp4" autoplay muted loop
                   poster="../static/images/moon_Moment.jpg"></video>
        </section>
        <section class="diary-wrap">
            <div class="inner">
                <div class="diary">
                    <a class="diary-link" href="#none">
                        <article>
                            <span></span>
                            <span></span>
                            <span></span>
                            <div class="content">
                                <div class="user-info">
                                    <img class="user-pic" src="../static/images/avatar.png">
                                    <p>작성자:ㅈㅂㄷㅂㅈㄷqwewqee</p>
                                </div>
                                <div class=subject>
                                    <p>어제 꾸었던 꿈에서 초딩때 친구들을 만났음!</p>
                                </div>
                                <div class="content-info">
                                    <p>wqeqweqwe</p>
                                    <p>wqeqweqwe</p>
                                    <p>wqeqweqwe</p>
                                </div>
                            </div>
                        </article>
                    </a>

                </div>
            </div>
        </section>
    </main>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>