<!DOCTYPE html>
<html lang="ko">
<head>
    <title>와이어프레임</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main-style.css">
</head>
<body>
<div class="container">
    <header>Header</header>
    <section>
        <article class="left">Aside1</article>
        <article class="main">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi earum esse modi obcaecati perspiciatis tempora, voluptatum. Alias asperiores doloribus excepturi, hic nihil nobis obcaecati omnis quis recusandae sint sit tempore!</article>
        <article class="right">Aside2</article>
    </section>
    <footer>Footer</footer>
</div>
</body>
</html>
